* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 186, 249);
    width: 100%;
    margin: 0;
}

.fondo {
    background-image: url(https://scontent-mad1-1.xx.fbcdn.net/v/t39.30808-6/402027485_876666147184780_6017131208447181590_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=783fdb&_nc_ohc=2ZL73iqXJB0AX95fXMg&_nc_ht=scontent-mad1-1.xx&oh=00_AfCwi8DVZgn4KTMw7amKY7hq9dCxGoeOjP3ZpQOZ2LuGjw&oe=65B30CC6);
    padding: 15%;
    background-size: cover;
    margin: 0;
    width: 100%;
}

h1 {
    text-align: top;
    color: black;
    font-size: 50px;
    font-weight: 500 bold;
    margin: auto;

}
a{ 
    display: inline-block;
    text-decoration: none;
    color: rgb(235, 177, 177);
    font-size: 20px;
    margin: auto;
    background-color: rgb(139, 5, 122);
    border-radius: 5px;
    padding: 5px;
}
a:hover {
    color: rgb(224, 46, 114);
}

h2 {
    margin: 3%;
}


/*imagenes*/
p {
    margin-left: 5%;
}

div {
    display: inline-block;
    text-align: center;

}

figure {
    display: inline-block;
    border: 5px outset rgb(207, 74, 219);
    text-align: center;
    width: 27%;
    margin: 20px;

}

figcaption {
    margin: 10px 50px;
}

figure:hover {
    color: rgb(177, 22, 238);
}




/*tabla */
table {
    border: 3px solid rgb(247, 146, 163);
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}

td,
th {
    border: 5px ridge rgb(247, 171, 209);
}

th {
    background-color: palevioletred;
    text-align: center;
    height: 50px;
}

td {
    text-align: center;
    padding: 0px 0px;
}

.tata {
    background-color: rgb(252, 91, 126);
}

.cooky {
    background-color: rgb(247, 170, 217);
}

.shooky {
    background-color: rgb(247, 193, 122);
}

.rj {
    background-color: rgb(243, 226, 237);
}

.chimmy {
    background-color: rgb(246, 248, 128);
}

.mang {
    background-color: rgb(241, 128, 236);
}

.koya {
    background-color: rgb(158, 159, 255);
}

.junto {
    background-color: rgb(247, 223, 191);
}

.juntos {
    background-color: rgb(225, 180, 252);
}





/* formulario */
form {
    margin: 2% 5%;
    padding: 0 10%;

}

legend {
    text-align: center;
    border: 3px dotted purple;
    background-color: rgb(228, 199, 228);
    border-radius: 10px;
    padding: 0 10%;
}

label {
    display: inline-block;
    width: 15%;
}

fieldset {
    background-color: rgb(255, 206, 214);
    border: 3px solid purple;
    border-radius: 10px;
}

textarea {
    vertical-align: text-top;
    height: 100px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
    display: inline-block;
    margin-bottom: 10px;
}

input[type=text]:hover {
    border: 4px dotted rgb(241, 123, 222);
}

input[type="text"],
select,
textarea {
    width: 75%;
    vertical-align: middle;
}

button[type=submit],
button[type=reset] {
    width: 40%;
    margin-left: 5%;
    cursor: pointer;
}